#container {
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content:center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
    }

.box {
    width: 550px;
    height: 0.5rem;
    text-align: center;
    /* flex-direction: column;    /* will center text in <p>, which is not a flex item */
    /* align-items: center; */
    /* justify-content: center; */ 
    
}

body{
    background-image: url("website-hosting-concept-with-circuits.jpg");
    background-size: 100%;
}

h1{
    color: white;
    font-size: 60px;
    /*  */
    padding-top: 300px;
    
}

.aboutMe{
    font-size: 45px;
    padding-top: 50px;
    margin-right: 50px;
    
}


#message{
     color: white; 
     font-size: 20px;
     font-weight: bold;   
}

#visibleHidden{
   background-color: transparent;
   color: gray;
   border-style: hidden;
}

#pres{
    visibility: hidden;
}

#me{
 font-size: 25px;
 
}