#container {
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content:center; /* center items vertically, in this case */
         /* center items horizontally, in this case */
    }


body{
 
   /* background-image: url("website-hosting-concept-with-circuits.jpg");*/
    background-image: url("v617batch2-kul-05-technology.jpg");
    background-size: 100%;
}

h1{
    color: white;
    font-size: 60px;
    /*  */
    
    
    
    
}

.aboutMe{
    font-size: 45px;
   display: flex;
   justify-content: center;
    
}


#message{
     color: white; 
     font-size: 20px;
     font-weight: bold;
     display: flex;
     justify-content: center;   
}

#visibleHidden{
   background-color: transparent;
   color: white;
   border-style: hidden;
}

#pres{
    visibility: hidden;
}

#me{
 font-size: 25px;
 
}

#img{
    
    display: flex;
    justify-content: left;
    
    width: 60px;
    height: 60px;
}



h2{
    color: white;
}

#projets{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

#title{
    display: flex;
    align-items: center;
    justify-content: center;
}

#logos{
    display: flex;
    flex-direction: row;
}
#back{
    margin-top: 50px;
}